body {
    background-image: url(./images/background.webp);
    background-size: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.haa {
    text-align: center;
    align-self: flex-start;
    width: 100vw;
    height: 96vh;
    box-shadow: 0 0 20px black;
}

.shrek {
    overflow: hidden;
    animation-name: shrek;
    animation-duration: 4s;
    animation-timing-function: linear;
}

#audio {
    align-self: flex-start;
    position: absolute;
    display: block;
    color: black;
    opacity: 10%;
    width: 100px;
    height: 20px;
}

p {
    font-size: 0.8em;
    align-self: flex-start;
    position: absolute;
    display: block;
    color: white;
    opacity: 50%;
}

@keyframes shrek {
    0% {
        transform: scale(0.1);
    }
    100% {
        transform: scale(4);
    }
}